
/*Selector universal aplica a todos los elementos de la página
el margin y padding a 0 eliminan cualquier espacio extra de los elementos
border box para que los elementos incluyan border y relleno
y por último la fuente utilizada*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }

  /*Aplica el estilo a la parte del "body", 
el background tiene un clor gradiente que cambia de blanco a azul clarito
display flex y justify content para que los elementos se organicen de forma flexible 
y el contenido esté alineado y justificado al centro
La altura ocupa el 100% de la ventana del navegador*/
body {
    background: linear-gradient(to bottom right, #e0f7fa, #80deea);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

/*Estilo a la clase container que abarca el contenido del juego
con el texto alineado al centro, un padding para darle mas espacio entre el contenido y el contenedor
un fondo blanco y un borde redondeado blanco con un sombra ligera y un ancho del 70%*/
.container {
    padding: 70px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
  }

  /*Se establece un margen inferior para el header de 20px*/
header {
    margin-bottom: 20px;
  }

  /*Se aplica estilo en el h1 y el h2 para la tipografía dentro de esas etiquetas
con un tamaño de fuente, un color, etc*/
h1 {
    color: #00796b;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
  }
  
  h2 {
    padding-top: 10px;
    color: #004d40;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 50px;
    font-size: 18px;
  }