
    /*Selector universal aplica a todos los elementos de la página
el margin y padding a 0 eliminan cualquier espacio extra de los elementos
border box para que los elementos incluyan border y relleno
y por último la fuente utilizada*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }

  /*Aplica el estilo a la parte del "body", 
el background tiene un clor gradiente que cambia de blanco a azul clarito
display flex y justify content para que los elementos se organicen de forma flexible 
y el contenido esté alineado y justificado al centro
La altura ocupa el 100% de la ventana del navegador*/
body {
    background: linear-gradient(to bottom right, #e0f7fa, #80deea);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

    /*Estilo a la clase container que abarca el contenido del juego
con el texto alineado al centro, un padding para darle mas espacio entre el contenido y el contenedor
un fondo blanco y un borde redondeado blanco con un sombra ligera y un ancho del 70%*/
.container {
    padding: 70px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
  }

  /*Se establece un margen inferior para el header de 20px*/
header {
    margin-bottom: 20px;
  }

  /*Se aplica estilo en el h1 y el h2 para la tipografía dentro de esas etiquetas
con un tamaño de fuente, un color, etc*/
h1 {
    color: #00796b;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
  }
  
  h2 {
    padding-top: 10px;
    color: #004d40;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 50px;
    font-size: 18px;
  }

  /*Se aplica el estilo al contenedor de los paneles de info:
donde se encuentra el numero de dificultad o se selecciona el numero de cartas*/
.game-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto 20px auto;
  }

    /*Se aplica el estilo a los dos paneles (izquierdo y derecho), siguiendo 
con coherencia el estilo del resto del proyecto*/
.left-panel, .right-panel {
    background: #f1f8e9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
    margin-inline: 20px;
  }
  
  .left-panel p, .right-panel p, .right-panel label {
    color: #333;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  #dificultad, #filas, #columnas {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #00796b;
    border-radius: 5px;
    width: 100%;
    outline: none;
  }
  
  #dificultad:focus, #filas:focus, #columnas:focus {
    border-color: #004d40;
  }

  /*Se aplica estilo al botón de inicio de de seleccion de dificultad*/
  button {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }

  button:hover {
    background-color: #004d40;
  }

  /*Estilo aplicado al contenedor del tablero
para posicionarlo en el centro de la página*/
.tablero-container {
  display: flex;
  justify-content: center;
}
/*Se hace un grid  para hacer una cuadrícula con las cartas y
que las columnas se repitan. Con un espacio entre ellas y un padding y margen*/
.tablero {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 10px;
  margin-bottom: 20px;
  padding-top: 60px;
}
/*S establece el estilo de cada casilla (card), con un tamaño de 80x80px
un hover para hacerlo más visual y otro color mas oscuro si la pareja se ha enontrado*/
.casilla {
  width: 80px;
  height: 80px;
  background-color: #404b78;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.casilla:hover {
  background-color: #ffab00;
}

.casilla.revealed {
  background-color: #cab308;
}

/*Se establece un mensaje cuando el usuario no consigue emparejar
las dos cartas, en la zona inferior de color rojo*/
.mensaje {
  color: #d6336c;
  font-size: 18px;
  margin-top: 10px;
}
/*Estilo para ocultar el elemento*/
.hidden {
  display: none;
}
/*Estilo para el mensaje que salta cuando se gana el juego, 
de color verde*/
#mensaje-ganador {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #38c172;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  z-index: 1000;
}



